# Millenium Development Goals Challenge

In [1]:
import numpy as np
import pandas as pd
#from sklearn import preprocessing
from sklearn.preprocessing import Imputer
import statsmodels.api as sm

In [2]:

training_data = pd.DataFrame.from_csv("data/TrainingSet.csv", index_col=0)

In [3]:
training_data.head()

,1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],1981 [YR1981],...,2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],Country Name,Series Code,Series Name
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,3.769214,Afghanistan,allsi.bi_q1,(%) Benefits held by 1st 20% population - All ...
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.027746,Afghanistan,allsp.bi_q1,(%) Benefits held by 1st 20% population - All ...
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.244887,Afghanistan,allsa.bi_q1,(%) Benefits held by 1st 20% population - All ...
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.933105,Afghanistan,allsi.gen_pop,(%) Generosity of All Social Insurance
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,18.996814,Afghanistan,allsp.gen_pop,(%) Generosity of All Social Protection

In [4]:
afgh = training_data[training_data["Country Name"] == "Afghanistan"]

In [5]:
usa = training_data[training_data["Country Name"] == "United States"]

In [6]:
usa.head()

,1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],1981 [YR1981],...,2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],Country Name,Series Code,Series Name
271423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,United States,PA.NUS.PPP.05,"2005 PPP conversion factor, GDP (LCU per inter..."
271424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,United States,PA.NUS.PRVT.PP.05,"2005 PPP conversion factor, private consumptio..."
271427,NaN,NaN,NaN,0.807367,NaN,NaN,NaN,NaN,NaN,NaN,...,0.968793,0.949724,0.944742,0.933649,0.941864,0.951608,0.961188,United States,2.1,Achieve universal primary education
271428,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,97.510980,95.655240,94.989940,93.936880,94.762950,96.025370,96.659010,United States,SE.PRM.TENR.FE,"Adjusted net enrollment rate, primary, female ..."
271429,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.277440,94.322130,93.983030,92.819500,93.636220,94.335050,95.602780,United States,SE.PRM.TENR.MA,"Adjusted net enrollment rate, primary, male (%..."

In [7]:
column_list = list(afgh.columns.values)

In [8]:
mylist = training_data["Series Name"].tolist();

In [39]:
#mylist

In [10]:
len(mylist)

195402

In [11]:
#list of unique series names in list
uniquelist = training_data["Series Name"].unique();

In [12]:
len(uniquelist)

1305

In [13]:
#list of data frames by series name 
datalists = []
for val in uniquelist:
    newdf = training_data[training_data["Series Name"]==val] 
    datalists.append(newdf); 

# newdf = training_data[training_data["Series Name"]==uniquelist[0]] 
# datalists.append(newdf);

In [14]:
##missing values 
##what is the best way to handle missing values? 
##ignore , delete, replace?

In [15]:
#drop columns that are all na and rows that are all na 
# for data in datalists:
#     data = data.dropna(axis = 1, how = "all")
#     data = data.dropna(how="all")

In [16]:
datalists[100].tail()

,1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],1981 [YR1981],...,2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007],Country Name,Series Code,Series Name
278235,5104.464,7356.002,8789.799,12189.108,11400.703,12577.810,12134.103,12625.481,12746.492,13278.207,...,24972.270,27513.501,32001.909,34821.832,39288.238,42485.862,45269.115,Vietnam,EN.ATM.CO2E.SF.KT,CO2 emissions from solid fuel consumption (kt)
280909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,West Bank and Gaza,EN.ATM.CO2E.SF.KT,CO2 emissions from solid fuel consumption (kt)
282246,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,"Yemen, Rep.",EN.ATM.CO2E.SF.KT,CO2 emissions from solid fuel consumption (kt)
283583,2339.546,2251.538,1987.514,1859.169,1796.830,1591.478,1404.461,1342.122,1353.123,1133.103,...,300.694,304.361,322.696,242.022,311.695,128.345,33.003,Zambia,EN.ATM.CO2E.SF.KT,CO2 emissions from solid fuel consumption (kt)
284920,6299.906,7190.987,6802.285,5874.534,8947.480,7363.336,7389.005,7744.704,7719.035,7220.323,...,9515.865,9097.827,8162.742,7854.714,8489.105,8082.068,8096.736,Zimbabwe,EN.ATM.CO2E.SF.KT,CO2 emissions from solid fuel consumption (kt)

In [17]:
datalists[100].isnull().sum()

1972 [YR1972]    35
1973 [YR1973]    35
1974 [YR1974]    35
1975 [YR1975]    35
1976 [YR1976]    35
1977 [YR1977]    35
1978 [YR1978]    34
1979 [YR1979]    34
1980 [YR1980]    34
1981 [YR1981]    34
1982 [YR1982]    34
1983 [YR1983]    34
1984 [YR1984]    34
1985 [YR1985]    35
1986 [YR1986]    33
1987 [YR1987]    33
1988 [YR1988]    33
1989 [YR1989]    33
1990 [YR1990]    31
1991 [YR1991]    30
1992 [YR1992]     9
1993 [YR1993]     9
1994 [YR1994]     8
1995 [YR1995]     6
1996 [YR1996]     7
1997 [YR1997]     5
1998 [YR1998]     5
1999 [YR1999]     5
2000 [YR2000]     4
2001 [YR2001]     4
2002 [YR2002]     3
2003 [YR2003]     3
2004 [YR2004]     3
2005 [YR2005]     2
2006 [YR2006]     1
2007 [YR2007]     0
Country Name      0
Series Code       0
Series Name       0
dtype: int64

In [40]:
df = datalists[100]._get_numeric_data() #only look at numeric data... 
df

,1972 [YR1972],1973 [YR1973],1974 [YR1974],1975 [YR1975],1976 [YR1976],1977 [YR1977],1978 [YR1978],1979 [YR1979],1980 [YR1980],1981 [YR1981],...,1998 [YR1998],1999 [YR1999],2000 [YR2000],2001 [YR2001],2002 [YR2002],2003 [YR2003],2004 [YR2004],2005 [YR2005],2006 [YR2006],2007 [YR2007]
139,190.684,311.695,304.361,399.703,425.372,451.041,575.719,352.032,315.362,333.697,...,3.667,3.667,3.667,69.673,55.005,91.675,91.675,106.343,161.348,748.068
1476,1081.765,1169.773,1210.110,1261.448,1272.449,1701.488,2126.860,2684.244,2324.878,2647.574,...,55.005,110.010,69.673,80.674,84.341,84.341,84.341,73.340,73.340,73.340
2813,649.059,821.408,700.397,792.072,586.720,605.055,572.052,894.748,1609.813,1910.507,...,2192.866,2247.871,2038.852,2170.864,2709.913,2885.929,1987.514,2442.222,2555.899,2907.931
5487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
6824,7.334,22.002,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
8161,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
9498,2860.260,2882.262,3369.973,3597.327,3241.628,2706.246,3835.682,3604.661,2867.594,2959.269,...,2841.925,2156.196,1657.484,1290.784,1100.100,1991.181,2200.200,3270.964,3868.685,4202.382
10835,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.668,7.334,0.000,0.000,47.671,73.340,0.000,3.667,3.667,14.668
12172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
13509,77799.072,79779.252,85272.418,87014.243,88943.085,96258.750,104164.802,107402.763,118084.734,121242.021,...,214933.871,189697.577,190009.272,193577.263,198095.007,198535.047,203217.806,206536.441,213940.114,211890.261
14846,15647.089,15867.109,16618.844,14576.325,14279.298,12552.141,12845.501,14447.980,14202.291,14653.332,...,12357.790,12291.784,13872.261,14337.970,14469.982,15731.430,15196.048,15507.743,15489.408,14741.340
16183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.667,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
17520,0.000,14.668,11.001,0.000,0.000,0.000,0.000,0.000,0.000,66.006,...,3.667,3.667,3.667,3.667,3.667,7.334,7.334,7.334,7.334,3.667
18857,0.000,36.670,0.000,0.000,0.000,0.000,0.000,80.674,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
20194,355.699,462.042,410.704,473.043,447.374,502.379,421.705,359.366,447.374,465.709,...,352.032,176.016,1254.114,1331.121,1331.121,44.004,124.678,165.015,575.719,737.067
21531,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
22868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4063.036,3234.294,3501.985,2929.933,2621.905,2530.230,2181.865,2167.197,2057.187,1961.845
24205,42163.166,45276.449,48496.075,38510.834,41297.754,38862.866,43684.971,47142.952,47190.623,46240.870,...,30406.764,26593.084,29673.364,26890.111,23421.129,21979.998,21206.261,18672.364,17733.612,15720.429
25542,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
26879,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
28216,0.000,0.000,0.000,3.667,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
29553,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.667,3.667,3.667,...,179.683,176.016,176.016,146.680,168.682,110.010,25.669,99.009,84.341,80.674
30890,0.000,0.000,0.000,3.667,0.000,0.000,0.000,3.667,3.667,3.667,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
32227,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16182.471,15474.740,19149.074,16798.527,19079.401,19574.446,20102.494,21275.934,22508.046,22929.751
33564,22.002,51.338,88.008,187.017,594.054,781.071,832.409,942.419,986.423,1008.425,...,2511.895,1980.180,2552.232,2489.893,2596.236,2240.537,2464.224,2662.242,2599.903,2401.885
34901,9380.186,9017.153,9548.868,11070.673,11529.048,15067.703,17722.611,18478.013,20003.485,19739.461,...,46607.570,48217.383,51249.992,50644.937,48826.105,52379.428,54480.619,52815.801,52269.418,55346.031
36238,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.667,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
37575,32834.318,33564.051,33164.348,34425.796,31741.552,31653.544,33919.750,35001.515,36603.994,37165.045,...,28760.281,25404.976,25170.288,28587.932,26120.041,28488.923,28228.566,26754.432,26959.784,30593.781
38912,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
40249,0.000,0.000,0.000,0.000,0.000,0.000,3.667,3.667,7.334,7.334,...,18.335,7.334,7.334,11.001,11.001,7.334,7.334,7.334,14.668,11.001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243473,84.341,91.675,95.342,88.008,80.674,80.674,77.007,77.007,69.673,55.005,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
244810,381.368,370.367,311.695,337.364,333.697,341.031,440.040,447.374,465.709,436.373,...,564.718,583.053,535.382,506.046,487.711,399.703,392.369,381.368,385.035,399.703
246147,5427.160,5808.528,5786.526,7091.978,6582.265,5379.489,5672.849,6882.959,6413.583,5467.497,...,9699.215,9240.840,9295.845,10527.957,10861.654,10164.924,11272.358,9900.900,10157.590,10098.918
247484,1301.785,1235.779,1045.095,773.737,737.067,946.086,883.747,891.081,1287.117,1917.841,...,348.365,366.700,513.380,564.718,520.714,542.716,509.713,586.720,575.719,678.395
248821,3.667,11.001,3.667,7.334,11.001,11.001,18.335,11.001,11.001,22.002,...,0.000,11.001,11.001,11.001,7.334,11.001,11.001,11.001,11.001,11.001
250158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,47.671,33.003,44.004,66.006,80.674,106.343,161.348,168.682,176.016,308.028
251495,18.335,3.667,7.334,3.667,11.001,11.001,14.668,3.667,3.667,3.667,...,121.011,198.018,209.019,205.352,209.019,146.680,172.349,198.018,212.686,223.687
252832,414.371,443.707,612.389,630.724,737.067,630.724,795.739,1540.140,1708.822,1844.501,...,24539.564,27781.192,30109.737,34788.829,35144.528,37667.424,42236.506,41228.081,45291.117,51649.695
254169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.000,0.000,0.000,0.000,0.000,0.000
255506,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
256843,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
258180,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
259517,352.032,275.025,429.039,315.362,289.693,260.357,297.027,374.034,231.021,297.027,...,209.019,297.027,278.692,256.690,216.353,62.339,0.000,0.000,0.000,0.000
260854,18918.053,19259.084,19959.481,21019.244,23644.816,23956.511,20436.191,25045.610,24213.201,27264.145,...,85378.761,78099.766,87215.928,72885.292,76024.244,82327.817,85870.139,87586.295,102518.319,113798.011
262191,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
263528,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
266202,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
267539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,146434.311,144421.128,146397.641,141769.887,143046.003,155242.445,139558.686,140787.131,151527.774,153122.919
268876,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,80.674,407.037,476.710,542.716,627.057,1213.777,583.053
270213,293385.669,296091.915,263580.293,276414.793,275182.681,271302.995,259348.575,281790.615,260921.718,261618.448,...,148348.485,132250.355,136089.704,148487.831,135385.640,143889.413,141835.893,144380.791,156712.912,147904.778
271550,1125761.666,1211543.797,1197260.832,1152171.400,1275466.941,1290409.966,1368418.057,1415909.374,1461226.160,1489652.744,...,1974276.130,1986721.928,2070963.919,2038155.270,2062581.157,2059354.197,2131927.794,2154806.207,2127963.767,2144835.634
272887,88.008,73.340,77.007,77.007,69.673,66.006,7.334,14.668,11.001,7.334,...,3.667,3.667,3.667,3.667,3.667,3.667,3.667,3.667,7.334,11.001
274224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3153.620,3131.618,3817.347,3890.687,3887.020,2984.938,3564.324,3439.646,3703.670,3942.025
275561,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
276898,546.383,982.756,704.064,671.061,539.049,1070.764,374.034,601.388,733.400,271.358,...,3520.320,132.012,476.710,176.016,66.006,157.681,0.000,135.679,157.681,403.370
278235,5104.464,7356.002,8789.799,12189.108,11400.703,12577.810,12134.103,12625.481,12746.492,13278.207,...,21701.306,20047.489,20733.218,24972.270,27513.501,32001.909,34821.832,39288.238,42485.862,45269.115
280909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
282246,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
283583,2339.546,2251.538,1987.514,1859.169,1796.830,1591.478,1404.461,1342.122,1353.123,1133.103,...,462.042,278.692,286.026,300.694,304.361,322.696,242.022,311.695,128.345,33.003
284920,6299.906,7190.987,6802.285,5874.534,8947.480,7363.336,7389.005,7744.704,7719.035,7220.323,...,9739.552,10608.631,10098.918,9515.865,9097.827,8162.742,7854.714,8489.105,8082.068,8096.736

In [37]:
#sci-kit learn mean value replacement
#replaces missing values with mean value in df 
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
imp.fit(df)
transformed = imp.transform(df)

In [38]:
transformed

array([[  190.684,   311.695,   304.361, ...,   106.343,   161.348,
          748.068],
       [ 1081.765,  1169.773,  1210.11 , ...,    73.34 ,    73.34 ,
           73.34 ],
       [  649.059,   821.408,   700.397, ...,  2442.222,  2555.899,
         2907.931],
       ...,
       [    0.   ,     0.   ,     0.   , ...,     0.   ,     0.   ,     0.   ],
       [ 2339.546,  2251.538,  1987.514, ...,   311.695,   128.345,
           33.003],
       [ 6299.906,  7190.987,  6802.285, ...,  8489.105,  8082.068,
         8096.736]])

In [18]:
## plot data

In [19]:
## test accuracy of missing value handling